@import url('httpss://fonts.googleapis.com/css?family=Roboto');

body {
    background: linear-gradient(to right, #78a7ba 0%, #385D6C 50%, #78a7ba 99%);
}

.signup-form {
    font-family: "Roboto", sans-serif;
    width: 75%;
    margin: 40px auto;
    background: linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
    border-radius: 10px;
}

.form-header {
    background-color: #EFF0F1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-header h1 {
    font-size: 20px;
    text-align: center;
    color: #666;
    padding: 15px 0;
    border-bottom: 1px solid #7090a5;
}

/*---------------------------------------*/
/* Form Body */
/*---------------------------------------*/
.form-body {
    padding: 10px 40px;
    color: #666;
}

.form-group {
    margin-bottom: 15px;
}

.form-body .label-title {
    color: #385D6C;
    font-size: 15px;
    font-weight: bold;
}

.form-body .form-input {
    font-size: 17px;
    box-sizing: border-box;
    width: 100%;
    height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}

input::placeholder {
    font: 15px/3 sans-serif;
}
textarea::placeholder {
    font: 15px sans-serif;
}
.horizontal-group .left {
    float: left;
    width: 49%;
}

.horizontal-group .right {
    float: right;
    width: 49%;
}


::-webkit-input-placeholder {
    color: #d9d9d9;
}
textarea {
    resize: vertical;
}
/*---------------------------------------*/
/* Form Footer */
/*---------------------------------------*/
.form-footer {
    clear: both;
}

/*---------------------------------------*/
/* Form Footer */
/*---------------------------------------*/
.signup-form .form-footer {
    background-color: #EFF0F1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 40px;
    text-align: right;
    border-top: 1px solid #cccccc;
}

.form-footer span {
    float: left;
    margin-top: 10px;
    color: #999;
    font-style: italic;
    font-weight: thin;
}

.btn {
    display: flex;
    padding: 10px 150px;
    background-color: #385D6C;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    color: #bcf5e7;
    cursor: pointer;
    margin: 4% auto;
    
    

    
}

.btn:hover {
    background-color: #385D6C;
    color: white;
}
 